.App {
  min-width     : 100%;
  min-height    : 100%;
  background: #FFFFFF;
}

.bike-card {
  display       : flex;
  flex-direction: column
}

.stats {
  display       : flex;
  flex-direction: column;
  align-items   : flex-start;
  padding       : 10px;
  position      : absolute;
  width         : 226px;
  height        : 156px;
  left          : 639px;
  top           : 294px;
}

.bikeList {
  display       : flex;
  width: 45%;
  flex-direction: column;
  margin        : 10px;
  border-right : 1px solid #C4C4C4;
}

.no-data {
  margin-top      : 100px;
  display         : flex;
  width           : 600px;
  height          : 150px;
  background-color: #E8E8E8;
  justify-content : center;
  align-items     : center;
  border-radius   : 10px;
}

.no-data-text {
  display  : flex;
  font-size: 24;
}

.h-divider {
  position: absolute;
  width : 468px;
  height  : 0px;
  left    : 649px;
  top     : 284px;
  border  : 1px solid #C4C4C4;
}
